<h1>Users</h1>
<ul>
  <% @users&.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <ul>
        <li>Posts:</li>
        <% user.posts&.each do |post| %>
          <li>
            <%= link_to post.title, post %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "Create new user.", new_user_path %>
